html {
    scrollbar-color: black white;
    scrollbar-width: thin;
}
::-webkit-scrollbar { display: none;}
.header_wrapper{
    width: 1240px;
    height: 30px;
    margin: 0 auto;
    margin-top: 15px;
    display: flex;
    justify-content: end;
}
.header_title{
    width: 1240px;
    margin: 0 auto;
    margin-top: 40px;
    text-align: center;
}
.title{
    font-size: 50px;
    font-weight: 700;
}
.content_wrapper{
    padding-top: 80px;
    width: 1240px;
    margin: 0 auto;
    display: grid;
    gap: 20px;
    justify-content: center;
    height: 980px;
}
.arma_list{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 1100px;
}
.nav-item:hover{
  animation: swing 0.8s ease;
}
@keyframes swing {
    15% {
        transform: translateX(9px);
    }
    30% {
        transform: translateX(-9px);
    }
    45% {
        transform: translateX(6px);
    }
    60% {
        transform: translateX(-6px);
    }
    80% {
        transform: translateX(3px);
    }
    100% {
        transform: translateX(0);
    }
}

footer {
    background-color: gray;
    color: white;
    text-align: center;
    padding: 1em 0;
    width: 100%;
}